*{
  margin : 0;
}
.container {
  display: flex;
  flex-wrap: wrap;

}
.player-card{
 border: 3px solid rgb(116, 113, 113);
 background-color: rgb(130, 170, 244);
 border-radius: 5px;
 width: 400px;
 height: 480px;
 margin: 10px;
}

.player-div {
  height: 330px;
  border: 1px solid rgb(244, 229, 229);
  margin: 10px 10px 0px 10px;
  
}

.player-image {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(231, 225, 225);
  object-fit: cover;
}

.player-info{
  padding: 10px;
  align-items: center; 
  justify-content: center;
  
}
